@media screen and (min-width : 400px){
    html body{
        background-color: #234;
    }
}
@media screen and (max-width: 800px){
    h1{
        text-align: center;
    }
}
@media screen and (orientation: landscape){
     article{
         max-width: 50ch
     }
}
@media screen and (min-height: 200px){
    h1{
        background-color: rgb(41, 41, 28);
    }

}
@media print{
    p article{
        font-family: sans-serif;
    }
}
@media (min-height : 200px){
    body, h1{
        color: #111;
        background-color: #DDD;
    }
}
@media screen and (hover: none){
    a {
        background-color: #212;
        padding: 2px 5px;

    }
}
@media screen and (min-width: 800px) and (max-width: 899px){
    figure, img{
        display: none;
    }
}
@media screen and (min-width: 200px) and (max-width: 400px){
    img{
        height: 400px;
        object-fit: cover;
    }
}
@media (min-resolution: 2dppx){
    article{
        background-color: #667;
    }
